@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;     
}

/*Estilos Generales*/
logolabartola{
  padding: 30px;
  opacity: 0.7;
}

@font-face {
  font-family: "constantine";
  src: url(../font/Constantine.ttf);
}

/* Navegación*/
.color1{
background-color: white;
}
.navColor{
  background-color: white; /*sin opacidad*/
}
.desplegable{
 background-color: white;
}

.navbar-nav li a{
  color: rgb(13, 12, 12);
  text-decoration: none;
  font-family: assistant;
  font-size: 20px;
  font-weight: bold;
}

/* Html Index */
.imgFondo{ 
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/vistalocal.jpg);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainIndex a{
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: assistant;
  font-size: 25px;
  align-self: flex-end;
}

.main_nosotros{
  background-image: url(../assets/img/integrantesLaBartola.jpg);
  background-color:rgba(128, 128, 128, 0.397);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
} 
  
.main_productos{
  background-image: url(../assets/img/sillonredondo.jpg);
  background-color:rgba(128, 128, 128, 0.562);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  display: flex;
  justify-content: center;
}

.main_proyectos{
  background-image: url(../assets/img/project1.jpg);
  background-color:rgba(128, 128, 128, 0.562);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
} 
 
.main_contacto{
  background-image: url(../assets/img/mesadeluz.jpg);
  background-color:rgba(128, 128, 128, 0.562);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}  


/* Footer */
footer{
  grid-area: footer;
  width: 100%;
  height: 150px;
  background-color:rgba(53, 39, 1, 0.65);
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.h1{
  width: 180px;
  display: flex;
  font-family: "constantine";
  color: antiquewhite;
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.7;
  margin: 8%;
}

.redes{
  text-align: center;
  font-family: assistant;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin-left: 10px;
  margin-right: 5px;
  padding: 15px;
}

.redes a{
  text-decoration: none;
}

.redes svg{
  width: 20px;
  height: 20px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.8);
}

/*Html Nosotros*/
.imgFondoPages{ 
  height: 100vh;
  background-image: url(../assets/img/maderaFondo.jpg);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }

.navText p{
  display: flex;
  color:antiquewhite;
  opacity: 0.9;
  font-family: assistant;
  font-size: 1.2em;
  justify-content: center;
  margin-top: 8%;
  position: absolute;
  top: 40%;
  left: 30%;
}

.textNosotros h1{
  font-family: assistant;
}

.textNosotros{
  color:rgb(41, 41, 41);
  opacity: 0.8;
  font-size: 1.12em;
  font-family: assistant;
}

.textNosotros p span{
  font-weight: bold;
}

/*Html Contacto*/
.textContacto{
  text-align: center;
  font-size: 1em;
  padding: 5%;
}

input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 4px;
  font-size: 0.8em;
  font-family: assistant;
}

textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.formContacto{
  display: flex;
  width: 100%;
}
.formItem{
  justify-content: center;
}

.visitanos{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  padding: 3%; 
}
.map{
  padding: 5%;
}

.visitanos p {
  font-size: 1em;
  font-family: assistant;
  padding: 1.5%;
}


